
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red  */
}
body{
    background-color: #eee7e7;
     font-family: Kumbh Sans, sans-serif; 
     font-size: 16px;
     
     height: 100vh;
     
}
.hero-container{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
   
    
}
header{
    background: url('/images/cover.png') center center/cover no-repeat;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border:2px solid black; */
    width: 100%;
    color:white;
    padding-top: 20px;
    
    /* margin-top: -20px; */
}
/* .hero-buttons { */
    /* display: flex; */
    /* gap:20px; */
    /* width: 80%; */
    
    
/* } */

.navigation{
    display: flex;
    justify-content: space-evenly;
     border: 2px solid red; 
    height: 4rem;
    align-items: center;
    
}
.navigation ul {
    display: flex;
    gap:20px;
    list-style-type: none;
    align-items: center;
}
.navigation ul li a{
    text-decoration: none;
    color:white;
    font-size:1.5rem;
    
}
header h2{
     font-size: 1.5rem;
}
.hero-buttons1{
    font-size: 1.2rem;
    margin:10px;
    display: flex;
    align-items: center;
    gap:1.5rem;

}
.hero-buttons1 .button{
    background-color:  #23A6F0;
    border-radius: 30vh;
    padding: 15px;
    text-align: center;


}
.hero-buttons1 .button svg{
    width: 1.2rem;
    height:1.0rem;
    display: inline;
}
.hero-w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    border: 120px solid aqua; 
    /* position: relative;  */
    border: 2px solid black;
    height: 90vh;

}
.hero-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
min-height:  90vh;
    font-size: 1.5em;
    width:30%;
    align-items: center;
      border: 2px solid black; 
}
.hero-buttons2{
   display: flex;
   width:60%;
   justify-content: space-between;
   font-size: 1rem;
   align-items: center;
   gap:1rem;

}
.hero-buttons2 p{
    border: 1px solid white;
    padding: 12px;
    border-radius:400vh;
}
.hero-buttons2 .Quote{
    background-color: #23A6F0; ;
}
.hero-cards{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    width: 80vw; 
    height: 35vh;
     border:2px solid red; 
     /* position:absolute;  */
     /* bottom:-9rem;  */
}
.hero-card1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    padding-left: 2rem;
    color: black;
    box-shadow: 0 0.125rem 1rem #737373;
}

.hero-card1 img{
    width:100px;
    height: 70px;
    
}
.hero-card1 h3{
    font-weight:700;
    
}
.features{
    width: 100%;
    height: 15rem;
    /* border: 2px solid greenyellow; */
    display: flex;
    
    justify-content:center;
    align-items: center;
    gap:5.5rem;
    background-color: #fffdfd;
    
}
.features1{
    width: 30%;
    height:60%;
}
.features img{
    width:6.25rem;
    height: 4.375rem;
}
.industry-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height:80vh ;
    /* border:2px solid black; */
    row-gap: 20px;
}
.users,.industry{
    width:90vw;
    height:12rem;
}
.industry{
    text-align:center;
    padding: 4.5rem;
    
}
.users{
    display: flex;
    justify-content:center;
    column-gap:1.5rem;
    width: 100%;
    height: 20rem;
    align-items: center;
}
.user1{
    width:16rem;
    height:25rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content:center;
    background-color: #fdfafa;
    /* border:2px solid rgb(224, 224, 224); */
   
}
.user1 img{
    width:150px;
    height:150px;
    
}
.rate{
    width: 16rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;

}
.content-subscribe{
    width:100%;
    height:40vh;
    /* border:2px solid blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    
}
.icons,.subscribe{
    width:80%;
    height:20vh;
    /* border: 2px solid black; */
}
.icons{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    
}
.icons img{
    width:90px;
    height:50px;
}
.subscribe{
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 4rem;
    width: 100%;

}
.subscribe-button{
    background-color: #23A6F0;
    color: #e6e6e6;
    width:75px;
    height:47px;
}
.subscribe p{
    color:#FAFAFA;

 font-size: 32px;
 font-weight: 700;
  line-height: 32px;
  width: 30%;
  
  text-align: left;

}
.pricing1{
   width: 100%;
   height:120vh;
   /* border:2px solid brown;  */
   background-color: #FAFAFA;
   display: flex;
   flex-direction: column;
   row-gap:60px; 
   align-items: center;
   padding-top: 2rem;
   
}
.pricing-title-div{
    width:25%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
     /* border: 2px solid black;  */
    flex-direction: column;
    margin-top:-40px ;
}
.pricing1-title,.pricing1-description{ 
    text-align: center;
    padding-top: 10px;
    
 } 
.pricing1-title{
    font-weight: 700;
    
}
 .pricing-cards{
    width: 70%;
    height:90vh;
    display:flex;
    align-items: flex-end;
    /* border: 2px solid black; */
    justify-content: center;
    /* column-gap: ; */
    margin-bottom: 70px;
   

 } 
 .free,.standard,.premium{
    width:27%;
    border:2px solid #23A6F0;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 35px;
    border-radius: 10px;


 }
 .pricing-cards ul li{
    padding: 5px 3px;
    list-style-type: none;
    display:inline-flex;
 }
 .price-type{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
 }
 .price{
    display: flex;
    flex-direction: column; 
 }
.price h2{
   width: 30px;
    height: 39px;
    font-weight: 700;
    font-size: 40px;
     
    color:#23A6F0;
}
.price p {
    color: #23A6F0;
}
.price p span{
    font-weight:700;
}
.free h5{
 
     font-weight: 700;
     font-size: 14px;
     color:gray;
 }
 .free-button{
    color:#FAFAFA;
    background-color: #23A6F0;
    padding: 15px 40px;
    width: 246px;
    height: 52px;
     border-radius: 5px;  
 }
 .pricing-cards ul svg{
    width: 20px;
    height: 20px;
    display: inline;
    
 }
 /* .horizontal{
    display: flex;
    justify-content: center;
 } */
 .dark {
      background-color: #252B42;
      color:#e6e6e6;
      height: 100%;
      border-radius: 10px;
    
 }
 .contact{
    /* background-color:#252B42 ; */
    width: 100%;
    height: 130vh;
     border: 10px solid red;
    /* margin-top: 120px; */
 }
 .contact-container{
    background-color:#252B42 ;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }
 .map{
    width: 100%;
    height:40vh;
    
     /* border:2px solid aqua; */
    /* position: absolute;  */
 }

 .map-description{
    display: flex;
    /* align-items: space-between; */
    justify-content: space-around;
    margin-top:6rem;
    /* column-gap:20px */
     /* border: 2px solid yellow;  */
    height: 60%;
    width: 100%;
    
 }
 .map-world img{
    width: 90%;
    height: 60%;
    /* border: 2px solid slateblue; */
 }
 .branches{
    width: 30%;
    height: 90%;
    color:#FAFAFA;
    text-align:left;
    line-height: 30px;
     /* border:2px solid brown;  */

 }
 .branches h2{
    font-weight:bolder;
 }
 .form-wrapper{
    display: flex;
    
    /* align-items: center; */
    justify-items: center;
     border: 2px solid hotpink; 
    width: 70%;
    /* /* height: 40rem; */
    background-color: #FAFAFA; 
    /* position: relative;
    top:70%;
    left:25%;
    right:45%;
    bottom:50%; */
    column-gap: 0px;
   


 }
 .contact-div{
    width:30%;
    height:39rem ;
 }
 .contact-div img{
    width:100%;
    height:100%
 }
 .form-div{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    width: 80%;
    height: 36rem;
    /* border:21px solid red */
    
 }
 .form-wrapper .book{
    margin: 10px 22px;
    width: 50%;
    height: 20px;
    /* display: flex; */
    font-weight: bolder;
    
    
 }
 .form{ 
    width: 100%;
    height: 36rem;
    /* background-color: #D71489; */
    /* left: 50px; */
     top: 194px; 
    border-radius: 1px;
    margin:0 auto;


}
.form label{
    display: block;
    /* margin: 0.5rem 0; */
    color:#252B42;
    margin: 0.2rem ;
    padding-left: 0.5rem;
    font-weight: bold;

}
.form input, .form select{
    margin:10px 0 0 10px;
    width:90%;
    height: 3rem;
    border-radius:9px;

}
.form input[type="button"]{
    color:white;
    background-color: #23A6F0;
}
form input[type="button"]:hover{
    background-color: gray;
    color:gray;
    /* border: 2px solid #004788; */
    transition: width 0.5sec;

}
.form input,.form select {
    background-color: #faf7f7;
    /* border:1px solid #737373; */
}
.consult{
    display: flex;
    justify-content: center;
    /* border:2px solid black; */
    /* background-color: yellow; */
    width: 100%;
    height: 20vh;
    /* position: relative; */
    top:600px; 
    bottom:600px; 
    border:2px solid black;
    
    
}
.agency{
    display:flex;
    justify-content: center;
    width: 60%;
    padding: 10px 20px;
    flex-direction: column;
   
}
.consult-contact{
     width: 20%;
     background-color: #eee7e7;
     display: flex;
     justify-content:center;
     align-items: center;
     /* position: absolute; */

}
.consult-contact-btn{
    width: 200px;
    height: 50px;
    color:#e6e6e6;
    background-color: #23A6F0;
    padding: 15px, 40px, 15px, 40px;
    font-size:15px;
    position: absolute;
    

}


.footer{
    /* width: 100%; */
    height: 30vh;
    background-color: #fdfafa;
    /* border: 2px solid black; */
    
    /* top:700px; */
    display: flex;
    
    justify-content: space-around;
    align-items: center;

    

}
.company-info ,.feature-div,.resources,.get-in-touch,.legal{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    height:30% ;
    /* border:2px solid black; */
    text-align: justify;
    
}
.list{
    list-style-type: none;
}

.socials svg {
    width:30px;
    height: 30px;
    display: inline;
}
.socials{
    display: flex;
    flex-direction: column;
}
.socials p{
    display: inline;
    padding: 0 10px ;
}
.soc-d{
    display:inline-flex;
}
.footer h5{
    color:#252B42;
    font-weight: 900;
    font-size: 19px;
    padding: 20px;
}
.footer li,.get-in-touch p{
    color: #575656;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px;
    
}
/* .right-reserved-section{ */
   
/* } */
.footer2{
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    /* top:700px; */
    width: 100%;
    height: 5vh;
    align-items: center;

}
.footer2-svgs{
    display: flex;
    width:50x;
    height: 30px;
    justify-content: space-around;
}
.footer2-svgs svg{
    padding: 0 20px;
}
@media screen and (max-width:768px) {
    body{
        font-size: 12px;
        width: 100%;
        
        /* background-color: #881616; */
    }
    /* section{
        min-height: 150vh;
    } */
    .features ,header{
        height: 150vh;
    }
    header{
        height: 150vh;
    }
    .hero-cards,.features,.users,.pricing-cards{
        
        flex-direction: column;
    }
    .navigation ul{
        display: none;

    }
    .hero-cards{
        border: 2px solid black;
        flex-direction: row;
        width: 90%;
        

    }
    .hero-card1{
        height: 100%;
        gap:0;
    }
    .hero-buttons2{
        flex-direction: column;
        width: 100%;
    }
    .users{
        min-height: 180vh;
        justify-content: center;
        gap:20px;
        width: 60%;
        /* border: 2px solid black; */
    }
    .user1,.branches{
        width: 100%;
        padding: 0 10px;
    }
    .industry-section{
        min-height: 240vh;
    }
    .pricing1{
    height: 400vh;
 }
    .subscribe p{
        font-size: 20px;
    }
    .pricing-cards{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap:20px;
       
    }
    .free, .premium ,.standard{
        width: 43%;
        height: 100vh;
        

    }
    .contact{
        min-height: 160vh;
    }
    .contact-container{
        min-height: 150vh;
    }
    .map-description{
        flex-direction: column;
    }
    .map{
        min-height: 50vh;
    }
    .footer{
        flex-wrap: wrap;
        min-height: 105vh;
        display: grid;
        grid-template-columns: repeat(3 ,20%);
    }
    .footer *{
        width: 30%;
        height: 70;
        gap:0;
    }
}
@media screen and (max-width:480px){
    .consult{
        flex-direction: column;
        height: 50vh;
        justify-content:center;
        align-items: center;
        gap:2rem;

    }
    .footer{
        display: flex;
        
        width: 100%;
        
    }
    .hero-container{
        min-height: 350vh;
    
    
        /* border:2px solid red */
    } 
    header{
        height: 330vh;
    }
    .hero-buttons1{ 
        display:none;
    }
    .hero-cards{
        flex-direction: column;
        height: 150vh;
        width: 100%; 
        /* position:relative; */
        /* top:40rem; */
    }
    .hero-card1{
        width: 100%;
        height: 30rem;
        flex-direction: c;
    }
    .hero-content{
        width: 100vw;
    }
    .hero-w{
        height: 370vh;
        width: 100vw;
        justify-content: space-between;
    }
    .content-subscribe{
        min-height: 230vh;
       ;
    } 
    .icons{
        flex-direction: column;
        min-height: 170vh;
        flex-wrap: wrap;
        /* border:2px solid red; */
        justify-content: space-between;
    }
    .subscribe{
        flex-direction: column;
        min-height: 50vh;
    }
    .subscribe p{
        text-align: justify;
    }
    .pricing1{
        min-height:500vh;
        border: 2px solid black;
    }
    .pricing-cards{
        width: 100%;
    

    }
    .free,.standard,.premium{
        width: 90%;
        height: 120vh;
    }
    .contact{
        
        min-height: 200vh;
    }
    .map-description{
        gap:40px;
    }
    .contact-container{
        gap:40px
    }
    .form-wrapper{
        width: 100%;
        
    }
    .contact-div{
        display: none;
    }
    .form-div{
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        
    }
    .footer{
        border: 2px solid blue;
        min-height: 250vh;
        display: grid;
        grid-template-columns: repeat(2,50%);
        margin: 0;
        padding: 0;
    }
    .footer2{
        margin-top: 20px;
        
    }
}
